* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #80a241;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
body {
  width: 100%;
}
.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--primary-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #2e3037;
  display: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.scroll-up-show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.scroll-anmi {
  animation-name: translate;
  animation: translate 2s;
}
@keyframes translate {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*------------------------------------------------------------- left side bar ----------------------------------------*/
.left-side-navbar {
  width: 260px;
  background-color: white;
  overflow: hidden;
  text-transform: uppercase;
  position: fixed;
  left: -260px;
  top: 0;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.6s ease-in-out;
}
.left-side-navbar-category button {
  padding-right: 30px;
}
.left-side-navbar li:hover .unique-a {
  color: var(--primary-color);
}
.left-side-navbar li:hover i {
  color: var(--primary-color);
}
.left-side-navbar button {
  width: 260px;
}
.left-side-navbar ul li {
  list-style: none;
}
.left-side-navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.left-side-navbar header {
  color: black;
  font-size: 12px;
  font-weight: 700;
}
.left-side-navbar ul {
  padding-left: 5px;
  margin-bottom: 0px;
}
.left-side-navbar ul li {
  width: 100%;
  padding: 10px;
}
.left-nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-nav-links a {
  text-align: left;
  padding: 0;
}
.nav-left-content-box a i {
  display: none;
}
.nav-left-content-box li:hover a {
  color: var(--primary-color);
}
.nav-left-content-box ul li {
  padding: 3px;
}
.nav-left-content-box li:hover i {
  display: inline-block;
}
.left-nav-links i {
  text-align: right;
  color: black;
  text-align: right;
  font-size: 11px;
}
.nav-left-container1 {
  display: none;
}
.nav-left-container2 {
  display: none;
}
.category-toggler-nav-left {
  background-color: #fff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  height: 100%;
}
.nav-left-category-list {
  display: none;
  height: 100%;
}
.nav-left-content-img1 {
  width: 100%;
  background-image: url(../task2-images/task2-images/banner05.jpg);
  background-position: right;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.nav-left-content-img2 {
  background-image: url(../task2-images/task2-images/banner04.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
}

.nav-left-menu-men-img1 {
  width: 100%;
  background-image: url(../task2-images/task2-images/banner06.jpg);
  background-position: right;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: 5px 0px;
}
.nav-left-menu-men-img2 {
  margin: 5px 0px;
  width: 100%;
  background-image: url(../task2-images/task2-images/banner07.jpg);
  background-position: right;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media (width<450px) {
  .left-side-navbar {
    width: 250px;
  }
  .left-side-navbar button {
    width: 250px;
  }
  .left-side-navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .left-side-navbar header {
    color: black;
    font-size: 10px;
    font-weight: 700;
  }
  .left-side-navbar ul li {
    width: 100%;
    padding: 7px;
  }
}
/*--------------- nav left menu  ------------*/
.menu-toggler-nav-left {
  background-color: #2e3037;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  height: 100%;
}
.left-side-navbar-menu button {
  padding-right: 30px;
}
.nav-left-menu-list {
  display: none;
  height: 100%;
}
/*------------------------------------------------------------- navigation bar ----------------------------------------*/
/*------------------------------------------------------------- navigation bar ----------------------------------------*/
.navigation-container {
  width: 100%;
  background-color: transparent;
  /* z-index: 1000; */
  /* position: fixed; */
}
.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0px;
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
}
/*--------------------------- nav 1 --------------------------*/
.navigation-container .nav-1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  transition: opacity 0.3s ease-out, height 0.3s ease-out;
  position: relative;
}
.navigation-container .nav-1 .nav-1-inner-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0px;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  text-align: center;
  padding-right: 125px;
}
.navigation-container .nav-1 .nav-1-inner-left img {
  height: 16px;
  width: 16px;
  color: white;
  margin-right: 5px;
}
.navigation-container .nav-1 .nav-1-inner-right {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-container .nav-1 .nav-1-inner-right img {
  margin-right: 5px;
  height: 13px;
  width: 13px;
}
.navigation-container .nav-1 .nav-1-inner-right .nav-1-inner-right-div {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-container .nav-1 .nav-1-inner-right .nav-1-inner-right-drop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-container .nav-1 .nav-1-inner-right select {
  background-color: #80a241;
  border: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.navigation-container .nav-1 .nav-1-inner-right .dropdown li {
  font-size: 11px;
}
.navigation-container .nav-1 .nav-1-inner-right .dropdown a:hover {
  background-color: var(--primary-color);
  color: white;
}
.navigation-container .nav-1 .nav-1-inner-right .dropdown button {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: none;
}
@media (width<900px) {
  .navigation-container .nav-1 .nav-1-inner-left {
    padding-right: 0px;
  }
}
@media (width<710px) {
  .navigation-container .nav-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation-container .nav-1 .nav-1-inner-left {
    padding: 5px 0px;
    width: 100%;
    padding-right: none;
  }
  .navigation-container .nav-1 .nav-1-inner-right {
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*--------------------------- nav 2 --------------------------*/
.navigation-container .nav-2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px 0px;
  background-color: transparent;
  transition: opacity 0.3s ease-out, height 0.3s ease-out;
  background-color: white;
  position: relative;
  width: 100%;
}
.navigation-container .nav-2 .nav-2-inner-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  text-align: center;
  position: relative;
  padding-left: 100px;
}
.navigation-container .nav-2 .nav-2-inner-left img {
  width: 100px;
  height: 40px;
  margin-right: 5px;
}
.navigation-container .nav-2 .nav-2-inner-left select {
  height: 41px;
  width: 100px;
  border-radius: 10px;
  border-color: rgb(182, 176, 176);
  z-index: 5;
  position: relative;
  font-size: 11px;
  box-sizing: border-box;
  font-weight: 600;
  background-color: white;
}
.navigation-container .nav-2 .nav-2-inner-left input {
  height: 41px;
  width: 320px;
  border-radius: 10px 0px 0px 10px;
  border-color: rgb(182, 176, 176);
  margin-left: -30px;
  z-index: -1;
  border: 1px solid rgb(182, 176, 176);
  border-right: none;
  padding-left: 30px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}

.navigation-container .nav-2 .nav-2-inner-left button {
  background-color: white;
  height: 41px;
  border: 1px solid rgb(182, 176, 176);
  border-left: none;
  padding: 0px 10px;
  border-radius: 0px 10px 10px 0px;
  margin-left: -15px;
  margin-right: 3px;
  box-sizing: border-box;
  position: absolute;
}
.navigation-container .nav-2 .nav-2-inner-right {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-container .nav-2 .nav-2-inner-right img {
  border: 1px solid gray;
  padding: 7px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.navigation-container .nav-2 .nav-2-inner-right span {
  color: black;
}
.navigation-container .nav-2 .nav-2-inner-right span:hover {
  color: gray;
  cursor: pointer;
}

.navigation-container .nav-2 .nav-2-inner-right .nav-2-inner-right-div {
  text-align: left;
}
.navigation-container .nav-2 .nav-2-inner-right .nav-2-inner-right-div button {
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 800;
  box-shadow: none;
}
.navigation-container .nav-2 .nav-2-inner-right .nav-2-inner-right-div li {
  font-size: 11px;
}
.navigation-container
  .nav-2
  .nav-2-inner-right
  .nav-2-inner-right-div
  li
  a:hover {
  background-color: var(--primary-color);
  color: white;
}
.navigation-container .nav-2 .nav-2-inner-right .shopping-icon {
  position: relative;
}
.navigation-container .nav-2 .nav-2-inner-right .shopping-icon::before {
  content: "3";
  position: absolute;
  top: -10px;
  right: -2px;
  height: 18px;
  width: 18px;
  background-color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}
.main-toggler {
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-left: 15px;
  display: none;
}
.img-logo {
  margin-right: 30px;
  display: none;
}
.img-logo img {
  border: none !important;
  width: 120px !important;
  height: 50px !important;
}
@media (width<1200px) {
  .navigation-container .nav-2 {
    width: 100%;
    margin: auto;
  }
  .navigation-container .nav-2 .nav-2-inner-left {
    width: 70%;
    padding-left: 0;
    justify-content: flex-start;
  }
  .navigation-container .nav-2 .nav-2-inner-right {
    width: 30%;
  }
}
@media (width<970px) {
  .navigation-container .nav-2 .nav-2-inner-left {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
  }
  .navigation-container .nav-2 .nav-2-inner-left .search-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 30;
    right: 80px;
  }
  .navigation-container .nav-2 .nav-2-inner-right {
    width: 100%;
  }
}
@media (width<970px) {
  .main-toggler {
    display: inline-block;
  }
}
@media (width<770px) {
  .navigation-container .nav-2 .nav-2-inner-left {
    padding-left: 0px;
  }
  .navigation-container .nav-2 .nav-2-inner-left img {
    display: none;
  }
  .img-logo {
    display: inline-block;
  }
}
@media (width<500px) {
  .navigation-container .nav-2 .nav-2-inner-left select {
    width: 80px;
    height: 41px;
  }
  .navigation-container .nav-2 .nav-2-inner-left input {
    width: 200px;
    height: 41px;
  }
  .navigation-container .nav-2 .nav-2-inner-left button {
    height: 41px;
    position: absolute;
  }
  .img-logo {
    margin-right: 0px;
  }
  .img-logo img {
    width: 80px !important;
    height: 45px !important;
  }
  .navigation-container .nav-2 .nav-2-inner-right {
    font-size: 8px;
  }
  .navigation-container .nav-2 .nav-2-inner-right button {
    font-size: 8px !important;
    padding: 0;
  }
  .navigation-container .nav-2 .nav-2-inner-right span {
    margin-left: 3px !important;
  }
  .navigation-container .nav-2 .nav-2-inner-right ul {
    margin-left: -40px !important;
    margin-top: 17px !important;
  }
}
/*--------------------------- nav 3 --------------------------*/
.nav-3 {
  width: 100%;
  background-color: #2e3037;
  padding-left: 156px;
  z-index: 200;
  display: flex;
  align-items: center;
  height: 45px;
  border: 1px solid white;
  position: static;
  top: 0;
}
.nav-3-category {
  position: relative;
  display: inline-block;
  height: 100%;
}

.category-toggler-nav-3 {
  background-color: #fff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  height: 100%;
}

.nav-3-category #category-list {
  margin: 0;
  padding: 0;
  width: 100%;
  visibility: hidden;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 3s ease-in-out;
}
.nav-3-category ul {
  width: 100%;
  padding: 0px;
  background-color: white;
  transition: 0.3s ease-in-out;
}
.nav-3-category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.nav-3-category ul li a {
  font-size: 13px;
  display: block;
  padding: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-3-category .nav-3-hidden {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 1px solid #ccc;
  width: 700px;
  z-index: 100;
}

.nav-3-category .nav-3-hidden2 {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 1px solid #ccc;
  width: 600px;
  z-index: 100;
}

.nav-3-category .nav-3-hidden .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.nav-3-category .nav-3-hidden .content .content-box {
  width: 32%;
  padding: 10px 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.nav-3-category .nav-3-hidden .content .content-box ul {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 100%;
}
.nav-3-category .nav-3-hidden .content .content-img {
  width: 100%;
  padding: 10px;
}
.nav-3-category .nav-3-hidden .content .content-img img {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid rgb(168, 166, 166);
}

.nav-3-category .nav-3-hidden .content .content-box ul a {
  font-size: 9px;
  padding: 7px 3px;
  width: 100%;
}
.nav-3-category .nav-3-hidden .content .content-box ul li:hover a {
  color: var(--primary-color);
  font-size: 9px;
}
.content .content-box ul li i {
  display: none;
  color: var(--primary-color);
  font-size: 9px;
}
.content .content-box ul li:hover i {
  display: inline-block;
  padding: 0px;
}
.nav-3-category .nav-3-hidden2 .nav-3-hidden2-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav-3-category .nav-3-hidden2 .content2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.nav-3-category header {
  font-weight: 700;
}
.nav-3-hidden2 .content2 .content-box2 {
  padding: 5px 5px;
  width: 50%;
}
.nav-3-category .nav-3-hidden2 .content2 .content-box2 ul a {
  font-size: 9px;
  padding: 7px 3px;
  width: 100%;
}
.nav-3-category .nav-3-hidden2 .content2 .content-box2 ul li:hover a {
  color: var(--primary-color);
  font-size: 9px;
}
.content2 .content-box2 ul li i {
  display: none;
  color: var(--primary-color);
  font-size: 9px;
}
.content2 .content-box2 ul li:hover i {
  display: inline-block;
  padding: 0px;
}
.nav-3-hidden2 .content2 .content-box2 ul {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.content-img2 {
  width: 50%;
  padding: 10px;
  text-align: center;
}
.content-img2 .local-img {
  height: 320px;
  width: 100%;
}

.nav-3-category .nav-3-hidden2 .content2 .content-box2 ul a {
  font-size: 9px;
  padding: 5px;
  width: 100%;
}
.nav-3-category ul li i {
  font-size: 13px;
  padding: 5px;
  margin-right: 5px;
}

.nav-3-category .nav-3-hidden3 {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 1px solid #ccc;
  width: 600px;
}
.nav-3-hidden3 .content3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-3-hidden3 .content3 .content-box3 {
  width: 30%;
  padding: 7px 7px;
}
.nav-3-category .nav-3-hidden3 .content3 .content-box3 ul {
  padding: 5px;
  margin: 0;
  margin-top: 5px;
  width: 100%;
}

.nav-3-category .nav-3-hidden3 .content3 .content-box3 ul a {
  font-size: 9px;
  padding: 3px 3px;
  width: 100%;
}
.nav-3-category .nav-3-hidden3 .content3 .content-box3 i {
  display: none;
  font-size: 9px;
}

.nav-3-category .nav-3-hidden3 .content3 .content-box3 ul li:hover i {
  display: inline-block;
  padding: 0;
  color: var(--primary-color);
}
.nav-3-category .nav-3-hidden3 .content3 .content-box3 ul li:hover a {
  color: var(--primary-color);
}
.nav-3-category .nav-3-hidden3 .content3 .content-box3 header {
  margin-left: 10px;
}
/*----------------------------- nav3-right ---------------------------*/
.nav-3-right {
  height: 100%;
}
.nav-3 .nav-3-megamenu {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
.nav-3-megamenu li {
  color: black;
  list-style: none;
  box-shadow: none;
}
.nav-3-megamenu li i {
  color: white;
  font-size: 14px;
}
.nav-3-megamenu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-3-megamenu .drop-women li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.nav-3-megamenu li button:hover {
  color: white;
}
.nav-3-megamenu li:hover a {
  color: var(--primary-color);
}
.nav-3-megamenu li:hover button {
  color: var(--primary-color);
}

.nav-3-megamenu li button {
  box-shadow: none;
  color: white;
  text-transform: uppercase;
  box-shadow: none;
  font-weight: 600;
}
.nav-3-megamenu li:hover button {
  color: var(--primary-color);
}
.nav-3-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.nav-3-boxes .nav-3-box {
  width: 32%;
  padding-bottom: 10px;
}
.nav-3-boxes .nav-3-box ul {
  padding: 0px;
}
.nav-3-boxes .nav-3-box ul li a {
  font-size: 11px;
  color: black;
}
.nav-3-boxes .nav-3-box ul li i {
  display: none;
  color: var(--primary-color);
  font-size: 10px;
  margin-right: 3px;
  padding: 0px;
  margin: 0px;
}
.nav-3-boxes .nav-3-box ul li:hover i {
  display: inline-block;
}
.nav-3-boxes .nav-3-box ul li:hover a {
  color: var(--primary-color);
}
.nav-3-boxes .nav-3-box header {
  padding: 5px 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-3-right-hidden1 {
  width: 700px;
  position: absolute;
  top: 113%;
  left: -300px;
  display: none;
  z-index: 100;
  background-color: white;
  border-top: 3px solid var(--primary-color);
}
.nav-3-right-drop button {
  color: white;
  box-shadow: none;
  outline: none;
  padding: 5px;
  border: none;
  background-color: #2e3037;
  text-transform: uppercase;
  margin: 0px 5px;
}

.nav-3-content-img img {
  width: 100%;
  height: 100%;
}
.x-nav-3 {
  position: relative;
}

.nav-3-boxes1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.nav-3-boxes1 .nav-3-box1 {
  width: 20%;
  padding-bottom: 10px;
}
.nav-3-boxes1 .nav-3-box1 ul {
  padding: 0px;
}
.nav-3-boxes1 .nav-3-box1 ul li a {
  font-size: 11px;
  color: black;
}
.nav-3-boxes1 .nav-3-box1 ul li i {
  display: none;
  color: var(--primary-color);
  font-size: 10px;
  margin-right: 3px;
}
.nav-3-boxes1 .nav-3-box1 ul li:hover i {
  display: inline-block;
}
.nav-3-boxes1 .nav-3-box1 ul li:hover a {
  color: var(--primary-color);
}
.nav-3-boxes1 .nav-3-box1 header {
  padding: 5px 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-3-right-hidden2 {
  width: 1000px;
  position: absolute;
  top: 113%;
  left: -620px;
  display: none;
  padding: 10px 0px;
  background-color: white;
  z-index: 100;
  border-top: 3px solid var(--primary-color);
}
.nav-3-right-hidden3 {
  width: 700px;
  position: absolute;
  top: 113%;
  left: -420px;
  padding: 10px 0px;
  background-color: white;
  display: none;
  z-index: 100;
  border-top: 3px solid var(--primary-color);
}
.nav-3-right-hidden3 .nav-3-boxes2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-3-boxes2 .nav-3-box2 header {
  padding: 5px 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-3-right-hidden3 .nav-3-boxes2 .nav-3-box2 {
  width: 30%;
  padding: 10px 5px;
}
.nav-3-boxes2 .nav-3-box2 ul {
  padding: 0px;
}
.nav-3-boxes2 .nav-3-box2 ul li a {
  font-size: 11px;
  color: black;
}
.nav-3-boxes2 .nav-3-box2 ul li i {
  display: none;
  color: var(--primary-color);
  font-size: 10px;
  margin-right: 3px;
}
.nav-3-boxes2 .nav-3-box2 ul li:hover i {
  display: inline-block;
}
.nav-3-boxes2 .nav-3-box2 ul li:hover a {
  color: var(--primary-color);
}
.nav-3-content-img img {
  width: 100%;
  height: 100%;
}
.x-nav-3 {
  position: relative;
}
.nav-3-right-container .nav-3-men-imgs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.nav-3-right-container .nav-3-men-imgs .nav-3-men-img {
  width: 23%;
}
.nav-3-right-container .nav-3-men-imgs .nav-3-men-img img {
  width: 100%;
  height: 100%;
}

@media (width<1200px) {
  .nav-3-right-hidden2 {
    width: 850px;
    left: -530px;
  }
  .nav-3-right-hidden1 {
    left: -330px;
  }
  .nav-3-right-hidden3 {
    left: -550px;
  }
  .nav-3 {
    padding-left: 20px;
  }
  .nav-3-boxes1 {
    width: 100%;
    padding: 10px;
  }
  .nav-3-boxes1 .nav-3-box1 {
    width: 20%;
    padding-bottom: 10px;
  }
  .nav-3-boxes1 .nav-3-box1 ul {
    padding: 0px;
  }
  .nav-3-boxes1 .nav-3-box1 ul li a {
    font-size: 9px;
    color: black;
  }
  .nav-3-boxes1 .nav-3-box1 ul li i {
    display: none;
    color: var(--primary-color);
    font-size: 10px;
    margin-right: 3px;
  }
}
@media (width<970px) {
  .nav-3-category {
    display: none;
  }
  .nav-3-right {
    display: none;
  }
  .nav-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 55px;
    border: none;
  }
}
/* ------------------------------ slider arrow ------------------------------------*/
.arrow-slider {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 150px;
  margin-left: -30px;
}
.arrow {
  width: 50%;
  position: relative;
  padding: 0px;
}
.arrow svg {
  width: 50px;
}

.video-slider {
  background-color: #80a241;
  width: 400px;
  height: 300px;
  position: absolute;
  right: -70px;
  top: 90px;
  transition: opacity 0.4s ease-in-out;
  text-align: center;
  opacity: 0;
}
.arrow-slider video {
  width: 100%;
  height: 85%;
}
.arrows:hover + .video-slider {
  opacity: 1;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
@media (width<700px) {
  .arrow-slider .video-slider {
    width: 300px;
    height: 250px;
    right: -15px;
  }
  .arrow-slider {
    right: 5%;
  }
  .arrow svg {
    width: 50px;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
@media (width<500px) {
  .arrow-slider {
    display: none;
  }
}
/*---------------------------------- slider left items --------------------------------*/
.slider .slider-left-items {
  background-color: var(--primary-color);
  position: absolute;
  left: 0px;
  top: 20%;
  z-index: 3100;
}
.slider .slider-left-items .slider-item-1 {
  text-align: center;
  padding: 10px;
  color: white;
  position: relative;
  font-size: 15px;
}
.slider .slider-left-items .slider-item-1 img {
  color: white;
}
.slider .slider-left-items .slider-item-hidden1 {
  position: absolute;
  left: 100%;
  top: 0;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px 0px;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  display: flex;
  z-index: 150;
}
.slider .slider-left-items .s1:hover {
  background-color: rgb(151, 121, 121);
}

.slider .slider-left-items .s1:hover .slider-item-hidden1 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, visibility 0s linear 0s;
}
.slider .slider-left-items .slider-item-hidden2 {
  position: absolute;
  display: flex;
  left: 100%;
  top: -68px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 11px 0px;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 150;
}
.slider .slider-left-items .s1:hover .slider-item-hidden2 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, visibility 0s linear 0s;
}
.slider .slider-left-items .slider-item-hidden3 {
  position: absolute;
  left: 100%;
  top: -136px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 11px 0px;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  display: flex;
  z-index: 150;
}
.slider .slider-left-items .s1:hover .slider-item-hidden3 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, visibility 0s linear 0s;
}
.slider .slider-left-items .slider-item-hidden4 {
  position: absolute;
  left: 100%;
  top: -204px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 11px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 150;
}
.slider .slider-left-items .s1:hover .slider-item-hidden4 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, visibility 0s linear 0s;
}
.slider .slider-left-items .slider-item-hidden1 ul,
.slider .slider-left-items .slider-item-hidden2 ul,
.slider .slider-left-items .slider-item-hidden3 ul,
.slider .slider-left-items .slider-item-hidden4 ul {
  list-style: none;
  padding-left: 0px;
  padding: 5px;
}
.slider .slider-left-items .slider-item-hidden1 ul li,
.slider .slider-left-items .slider-item-hidden2 ul li,
.slider .slider-left-items .slider-item-hidden3 ul li,
.slider .slider-left-items .slider-item-hidden4 ul li {
  margin: 4.6px;
}
.slider .slider-left-items .slider-item-hidden1 ul header,
.slider .slider-left-items .slider-item-hidden2 ul header,
.slider .slider-left-items .slider-item-hidden3 ul header,
.slider .slider-left-items .slider-item-hidden4 ul header {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}
.slider .slider-left-items .slider-item-hidden1 ul li a,
.slider .slider-left-items .slider-item-hidden2 ul li a,
.slider .slider-left-items .slider-item-hidden3 ul li a,
.slider .slider-left-items .slider-item-hidden4 ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 12px;
}
@media (width<700px) {
  .slider .slider-left-items .slider-item-1 {
    font-size: 15px;
  }
}
@media (width<450px) {
  .silder {
    height: 450px;
  }
  .slider .slider-left-items .slider-item-1 {
    text-align: center;
    padding: 6px;
    color: white;
    position: relative;
    font-size: 10px;
  }

  .slider .slider-left-items .slider-item-hidden1,
  .slider .slider-left-items .slider-item-hidden2,
  .slider .slider-left-items .slider-item-hidden3,
  .slider .slider-left-items .slider-item-hidden4 {
    width: 230px;
    overflow: hidden;
  }
  .slider .slider-left-items .slider-item-hidden2 {
    top: -51px;
  }
  .slider .slider-left-items .slider-item-hidden3 {
    top: -102px;
  }
  .slider .slider-left-items .slider-item-hidden4 {
    top: -153px;
  }

  .slider .slider-left-items .slider-item-hidden1 ul,
  .slider .slider-left-items .slider-item-hidden2 ul,
  .slider .slider-left-items .slider-item-hidden3 ul,
  .slider .slider-left-items .slider-item-hidden4 ul {
    list-style: none;
    padding-left: 0px;
    padding: 0px;
  }
  .slider .slider-left-items .slider-item-hidden2 ul {
    padding: 0.8px;
  }
  .slider .slider-left-items .slider-item-hidden3 ul {
    padding: 1px;
  }
  .slider .slider-left-items .slider-item-hidden4 ul {
    padding: 1px;
  }
  .slider .slider-left-items .slider-item-hidden1 ul li,
  .slider .slider-left-items .slider-item-hidden2 ul li,
  .slider .slider-left-items .slider-item-hidden3 ul li,
  .slider .slider-left-items .slider-item-hidden4 ul li {
    margin: 5.5px;
  }
  .slider .slider-left-items .slider-item-hidden1 ul header,
  .slider .slider-left-items .slider-item-hidden2 ul header,
  .slider .slider-left-items .slider-item-hidden3 ul header,
  .slider .slider-left-items .slider-item-hidden4 ul header {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 10px;
  }
  .slider .slider-left-items .slider-item-hidden1 ul li a,
  .slider .slider-left-items .slider-item-hidden2 ul li a,
  .slider .slider-left-items .slider-item-hidden3 ul li a,
  .slider .slider-left-items .slider-item-hidden4 ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 8px;
  }
}
/*--------------------------------------- slider ------------------------------------- */
.slider {
  width: 100%;
  height: 550px;
  background-image: url(../icons/WS-Task2/images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 4s ease-in-out;
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.radios {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.radios label {
  padding: 6px;
  margin-right: 20px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.7);
  transition: 5px;
  position: relative;
}

.radios label .small-slider {
  width: 40px;
  height: 30px;
}

.radios #slider-label-1::before {
  content: "";
  top: -60px;
  left: -45px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url(../icons/WS-Task2/images/1.jpg);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 4px solid gray;
}
.radios #slider-label-1:hover::before {
  opacity: 1;
}

.radios #slider-label-2::before {
  content: "";
  top: -60px;
  left: -45px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url(../icons/WS-Task2/images/2.jpg);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 4px solid gray;
}

.radios #slider-label-2:hover::before {
  opacity: 1;
}

.radios #slider-label-3::before {
  content: "";
  top: -60px;
  left: -45px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url(../icons/WS-Task2/images/3.jpg);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 4px solid gray;
}
.radios #slider-label-3:hover::before {
  opacity: 1;
}

.radios #slider-label-4::before {
  content: "";
  top: -60px;
  left: -45px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url(../icons/WS-Task2/images/4.jpg);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 4px solid gray;
}
.radios #slider-label-4:hover::before {
  opacity: 1;
}

.radios #slider-label-5::before {
  content: "";
  top: -60px;
  left: -45px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url(../icons/WS-Task2/images/5.jpg);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: 4px solid gray;
}

.radios #slider-label-5:hover::before {
  opacity: 1;
}

@media (width<600px) {
  .radios label {
    margin-right: 5px;
  }
}
/*------------------------ cards-sections ---------------------------*/
.cards-examples {
  width: 100%;
  padding: 90px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-examples .cards-example-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-examples .card-example1 {
  background-image: url(../icons/WS-Task2/images/6.jpg);

  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 30px;
  padding-left: 10px;
  margin-bottom: 30px;
  background-position: top;
}
.cards-examples .card-example1 p {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.cards-examples .card-example1 button {
  background-color: #80a241;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
}
.cards-examples .card-example1 button:hover {
  background-color: #2e3037;
  color: white;
}

.cards-examples .card-example2 {
  background-image: url(../icons/WS-Task2/images/7.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-left: 30px;
  position: relative;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
  background-position: top;
}
.cards-examples .card-example3 {
  background-image: url(../icons/WS-Task2/images/8.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-left: 30px;
  position: relative;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
  background-position: top;
}
.cards-examples .card-example4 {
  background-image: url(../icons/WS-Task2/images/9.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-left: 30px;
  position: relative;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
}

.cards-examples .card-example4:hover .card-example-inner {
  opacity: 1;
}
.cards-examples .card-example3:hover .card-example-inner {
  opacity: 1;
}
.cards-examples .card-example2:hover .card-example-inner {
  opacity: 1;
}
.cards-examples .card-example2:hover {
  transform: translateY(-10px);
}
.cards-examples .card-example3:hover {
  transform: translateY(-10px);
}
.cards-examples .card-example4:hover {
  transform: translateY(-10px);
}
.card-example-inner {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card-example-inner button {
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.card-example2::before,
.card-example3::before,
.card-example4::before {
  content: "ADS";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 50px;
  background-color: #2e3037;
  color: white;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------swiper ---------------------------------------------------------*/
.swiper-section {
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  background-color: #e7e7e9;
}
.swiper-section h1 {
  font-weight: 700;
  margin: 8px 0px;
}
.swiper-container {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: 600px;
  margin: auto;
}
.swiper-wrapper {
  margin-bottom: 10px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: none;
  width: 400px;
  height: 400px;
  -webkit-box-reflect: below 8px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
@media (width<600px) {
  .swiper-slide {
    width: 300px;
    height: 300px;
  }
  .swiper-container {
    height: 400px;
  }
}
@media (width<450px) {
  .swiper-slide {
    width: 230px;
    height: 230px;
  }
  .swiper-container {
    height: 400px;
  }
}
/*-------------------------------------------------------------- products------------------------------------------ */
.products {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
}
.products .products-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px auto;
  padding: 20px 5px;
}
.products .product-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.products .product-example .product-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 290px;
  border-radius: 20px;
  position: relative;
}
.products .product-example .product-img .product-example-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.products .product-example .product-img button {
  padding: 7px 20px;
  border: 1px solid gray;
}
.products .product-example .product-img button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.products .product-example .product-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  font-weight: 700;
  font-size: 20px;
}
.products .product-example .product-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.products .product-example .product-action .outer {
  padding: 12px;
  border: 1px solid rgb(116, 113, 113);
  margin-right: 3px;
}
.products .product-example .product-action .outer:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.products .product-example .product-action button {
  padding: 8px 15px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
.product-example:hover .product-img .product-example-inner {
  opacity: 1;
}
.product-example:hover .product-action {
  opacity: 1;
}

.products .product-example .product-action button:hover {
  background-color: #2e3037;
}

@media (width<1200px) {
  .products .product-example .product-details {
    font-size: 18px;
    justify-content: space-between;
  }
  .products .product-example .product-action button {
    padding: 11px 8px;
    font-size: 13px;
  }
}
@media (width<580px) {
  .products .product-example .product-details {
    font-size: 18px;
    justify-content: space-evenly;
  }
  .products .product-example .product-action button {
    padding: 8px 15px;
    font-size: 15px;
  }
}
/*------------------------------ countdown --------------------------------*/
.countdown-container {
  width: 100%;
  /* height: 600px; */
  background-image: url(../icons/WS-Task2/images/10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 0px;
}
.countdown-container .countdown-inner {
  width: 80%;
}
.countdown-container .countdown-inner .countdown-details {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0px 30px;
}
.countdown-container .countdown-inner .countdown-details p:first-of-type {
  font-weight: 800;
  font-size: 40px;
}
.countdown-container .countdown-inner .countdown-details p:nth-of-type(2) {
  font-weight: 700;
  font-size: 30px;
}
.countdown-container .countdown-inner .countdown-timer {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-container .countdown-inner .countdown-timer .spliter {
  color: white;
  font-size: 50px;
}

.countdown-container .countdown-inner .countdown-timer .timer-box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 0px;
  color: white;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
}
.countdown-container .countdown-inner .countdown-timer .timer-box .number {
  font-size: 40px;
  color: #80a241;
}
@media (width<1000px) {
  .countdown-container {
    justify-content: center;
    padding-top: 80px;
  }
  .countdown-container .countdown-inner {
    width: 100%;
  }
  .countdown-container .countdown-inner .countdown-timer {
    justify-content: center;
  }
}
@media (width<760px) {
  .countdown-container {
    justify-content: center;
    padding-top: 80px;
  }
  .countdown-container .countdown-inner {
    width: 100%;
  }
  .countdown-container .countdown-inner .countdown-timer {
    justify-content: space-around;
    margin: 0px auto;
    width: 90%;
  }
  .countdown-container .countdown-inner .countdown-timer .timer-box {
    font-size: 15px;
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    padding: 0px 10px;
  }
  .countdown-container .countdown-inner .countdown-timer .timer-box .number {
    font-size: 25px;
  }
}
@media (width<550px) {
  .countdown-container .countdown-inner .countdown-timer .timer-box {
    font-size: 8px;
    width: 80px;
    height: 70px;
  }
  .countdown-container .countdown-inner .countdown-timer .timer-box .number {
    font-size: 25px;
  }
  .countdown-container .countdown-inner .countdown-details p:first-of-type {
    font-weight: 800;
    font-size: 30px;
  }
}
/*------------------------------------------------------- owl carusel ------------------------------------------------*/
.products-owl {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
}
.owl-carousel {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}
.products-owl .products-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px auto;
  padding: 20px 5px;
}
.products-owl .product-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.products-owl .product-example::before {
  content: "new";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 50px;
  background-color: #2e3037;
  color: white;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
}
.products-owl .product-example::after {
  content: "-20%";
  position: absolute;
  top: 30px;
  left: 0;
  height: 30px;
  width: 50px;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.products-owl .product-example .product-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 290px;
  position: relative;
}
.products-owl .product-example .product-img .product-example-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.products-owl .product-example .product-img button {
  padding: 7px 20px;
  border: 1px solid gray;
}
.products-owl .product-example .product-img button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.products-owl .product-example .product-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  font-weight: 700;
  font-size: 16px;
}
.products-owl .product-example .product-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.products-owl .product-example .product-action .outer {
  padding: 11.5px;
  border: 1px solid rgb(116, 113, 113);
  margin-right: 3px;
}
.products-owl .product-example .product-action .outer:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.products-owl .product-example .product-action button {
  padding: 9px 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
}
.product-example:hover .product-img .product-example-inner {
  opacity: 1;
}
.product-example:hover .product-action {
  opacity: 1;
}

.products-owl .product-example .product-action button:hover {
  background-color: #2e3037;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  color: #80a241 !important ;
  font-size: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0xp;
  background-color: white !important;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}
.owl-dot.active span {
  background: var(--primary-color) !important;
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .products-owl .product-example .product-details {
    font-size: 12px;
  }
}
@media (min-width: 1000px) and (max-width: 1330px) {
  .products-owl .product-example .product-action button {
    font-size: 10px;
    padding: 8px 2px;
  }
  .products-owl .product-example .product-action .outer {
    padding: 8px 7px;
  }
}
@media (width<805px) {
  .products-owl .product-example .product-action button {
    font-size: 10px;
  }
  .products-owl .product-example .product-action .outer {
    padding: 8px;
  }
  .products-owl .product-example .product-details {
    font-size: 14px;
  }
}
@media (width<610px) {
  .products-owl .product-example .product-img {
    width: 200px;
    height: 250px;
  }
  .products-owl .product-example .product-details {
    font-size: 10px;
    justify-content: space-evenly;
  }
  .products-owl .product-example .product-action button {
    padding: 7px 5px;
  }
  .products-owl .product-example .product-action .outer {
    padding: 6.5px;
  }
}
@media (width<550px) {
  .products-owl .product-example .product-img {
    width: 100%;
    height: 210px;
  }
  .owl-prev {
    left: -30px;
  }

  .owl-next {
    right: -30px;
  }
  .products-owl .product-example .product-action button {
    padding: 7px 5px;
    display: block;
  }
  .products-owl .product-example .product-action {
    opacity: 1;
  }
  .products-owl .product-example .product-img button {
    padding: 6px 9px;
    border: 1px solid gray;
    font-size: 12px;
  }
}
@media (width<400px) {
  .products-owl .product-example .product-img {
    width: 120px;
    height: 210px;
  }
  .products-owl .product-example .product-action button {
    padding: 5px 2px;
    font-size: 7px;
  }
  .products-owl .product-example .product-action button i {
    margin-right: 3px;
  }
  .products-owl .product-example .product-action .outer {
    padding: 4px 4px;
    font-size: 12px;
  }
  .products-owl .product-example .product-img button {
    padding: 5px 6px;
    border: 1px solid gray;
    font-size: 8px;
  }
  .products-owl .product-example .product-details {
    font-size: 8.5px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0px;
  }
  .owl-prev,
  .owl-next {
    top: 35%;
  }
}
/*------------------------------------------------------- advertisement -------------------------------------------*/
.advertisement {
  width: 100%;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e9;
}
.advertisement .addvertisement-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.advertisement .addvertisement-row .addvertisement-inner1 {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0px;
}
.advertisement .addvertisement-row .addvertisement-inner1 p:first-of-type {
  font-size: 40px;
  color: var(--primary-color);
  font-weight: 700;
}
.advertisement .addvertisement-row .addvertisement-inner1 p:nth-of-type(2) {
  font-size: 40px;
  color: white;
}
.advertisement .addvertisement-row .addvertisement-inner1 button {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  padding: 7px 15px;
}
.advertisement .addvertisement-row .addvertisement-inner1 button:hover {
  background-color: #2e3037;
  border: 1px solid #2e3037;
}
.advertisement .addvertisement-row .addvertisement-inner1 video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}
.advertisement .addvertisement-row .addvertisement-inner2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.advertisement .addvertisement-row .addvertisement-inner2 .advertise {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media (width<580px) {
  .advertisement .addvertisement-row .addvertisement-inner1 {
    margin-bottom: 15px;
    height: 380px;
  }
  .advertisement .addvertisement-row .addvertisement-inner1 p:first-of-type {
    font-size: 30px;
  }
  .advertisement .addvertisement-row .addvertisement-inner1 p:nth-of-type(2) {
    font-size: 30px;
  }
  .advertisement .addvertisement-row .addvertisement-inner2 {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
  }
  .advertisement .addvertisement-row .addvertisement-inner2 .advertise {
    height: 190px;
  }
  .advertisement .addvertisement-row .addvertisement-inner2 .advertise2 {
    margin-left: 10px;
  }
}
/*------------------------------------------------------- coming soon -------------------------------------------*/
.main-soon{
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.main-soon .soon-container {
max-width: 85%;
  margin-top: 40px;
}
.main-soon .soon-container .soon-inner{
  border-radius: 5px !important;
  margin-bottom: 10px;

}
.main-soon .soon-container .soon-inner .card-body{
text-align: left;
}
.main-soon .soon-container .soon-inner .card-body p:first-of-type{
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
.main-soon .soon-container .soon-inner .card-body p:nth-of-type(2){
  font-size: 20px;
  font-weight: 700;
}
.main-soon .soon-container .soon-inner .card-body small span i{
  font-size: 12px;
  color: var(--primary-color);
  margin-left: 5px;
}
 .main-soon .soon-container .soon-inner .card-body .product-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.main-soon .soon-container .soon-inner .card-body .product-action button {
  padding: 9px 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
}

.main-soon .soon-container .soon-inner .card-body .product-action .outer {
  padding: 11.5px;
  border: 1px solid rgb(116, 113, 113);
  margin-right: 3px;
}
.main-soon .soon-container .soon-inner .card-body .product-action button:hover {
  background-color: #2e3037;
}
.main-soon .soon-container .soon-inner .card-body .product-action .outer:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.main-soon .soon-container .soon-inner .card{
  border: none;
  border-radius: 10px !important;
}
.main-soon .soon-container .soon-inner .card img{
  border-radius: 5px;
}

.main-soon p:first-of-type{
  font-size: 35px;
  font-weight: 700;
}

@media(width>700px){
  .main-soon .soon-container .soon-inner .card:hover .img-fluid{
    opacity: 0.4;
    transition: 0.4s;
  }
  
}